<h1 mat-dialog-title>Изменить: {{ data.user.name }}</h1>
<form class="formgroup" [formGroup]="form">
  <mat-form-field>
    <mat-label>phone:</mat-label>
    <input
      matTooltip="Отредактировать номер пользователя"
      matInput
      formControlName="phone"
    />
    <mat-error>телефон введен неправильно</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>NAME:</mat-label>
    <input
      matTooltip="Отредактировать имя пользователя"
      matInput
      formControlName="name"
    />
    <mat-error>имя введено неправильно</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>EMAIL:</mat-label>
    <input
      matTooltip="Отредактировать email пользователя"
      matInput
      formControlName="email"
    />
    <mat-error>email введен неправильно</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>WEBSITE:</mat-label>
    <input
      matTooltip="Отредактировать website пользователя"
      matInput
      formControlName="website"
    />
    <mat-error>website введен неправильно</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>COMPANY NAME:</mat-label>
    <input
      matTooltip="Отредактировать имя компании пользователя"
      matInput
      formControlName="companyName"
    />
    <mat-error>companyName введен неправильно</mat-error>
  </mat-form-field>

  <button
    mat-fab
    extended
    class="button"
    [disabled]="form.invalid"
    [mat-dialog-close]="userWithUpdatedFields"
  >
    РЕДАКТИРОВАТЬ ЮЗЕРА
  </button>
</form>
