<div class="header">
    <div class="header-left">
        <div class="header-logo">
            <img src="assets/Frame.svg" alt="logo">
        </div>
        <nav class="header-nav">
        <div class="header-nav-item">Главная</div>
        <div class="header-nav-item">О компании</div>
        <div class="header-nav-item">Каталог</div>
        </nav>
    </div>
    <div>
            </div>
</div>









<div class="header2">
    <div class="header2-left">
        <div class="header2-logo">
        </div>
            <img src="assets/light.svg" alt="logo">
            <nav class="header2-nav">
                <div class="header2-nav-item">Каталог</div>
                <div class="header2-nav-item">Cтройматериалы</div>
                <div class="header2-nav-item">Инструменты</div>
                <div class="header2-nav-item">Электрика</div>
                <div class="header2-nav-item">Интерьер и одежда</div>
                </nav>
                </div>
                <input type="text">
                <button style="background-color: rgb(197, 208, 205);">Поиск</button>
            </div>