<div class="header">
    <div class="header-left">
        <div class="header-logo">
            <img src="assets/ege.svg" alt="logo">
        </div>
        <nav class="header-nav">
        <a class="header-nav-item">Главная</a>
        <a class="header-nav-item">О компании</a>
        <a class="header-nav-item">Каталог</a>
        </nav>
    </div>
    <div class="header3">
        <div>
            <div class="header-right"></div>
        </div>
        <div class="header-logo3">
            <img src="assets/phone.svg" alt="logo">
            <a class="phone-number" href="tel:+79650842929">+ 7 965 084 2929</a>
        <img class="heart 1" src="/assets/heart.svg">
        <button class="Cart1">
            <img class="Cart" src="/assets/cart.svg">
            <span class="empty">Пусто</span>
        </button>
    </div>
    <nav class="header-nav-right">
        <div class="header3-nav-item"></div>
    </nav>
</div>      
</div>

<div class="header2">
    <div class="header2-left">
        <div class="header2-logo">
        </div>
            <img src="assets/light.svg" alt="logo">
            <div class="header2-nav">
                <button class="header2-nav-item">Каталог</button>
                <button class="header2-nav-item">Cтройматериалы</button>
                <button class="header2-nav-item">Инструменты</button>
                <button class="header2-nav-item">Электрика</button>
                <button class="header2-nav-item">Интерьер и одежда</button>
            </div>
        </div>
        <div class="search">
            <input type="text" class="search-field" placeholder="Поиск, например Круг зачистной">
            <img src="assets/maskgroup.svg" alt="" class="search-icon">
        </div>
        <div class="location">
            <img src="assets/mappin.svg" alt="locmap">
            <a class="locmap" href="mapМосква">Москва</a>
        </div>
</div>
<div>
    <img src="assets/men.svg" alt="" style="width: 100%;">
</div>
<div class="content-container2">
    <div class="pros-line">
        <div class="pros-line1">
           <span>Большой ассортимент</span>
            <p class="pr1">строительных материалов всегда в</p>
            <p class="pr11">наличии</p>
        </div>
        <div class="pros-line2">
            <span>Доставка стройматериалов</span>
            <p class="pr2">в течение четырех часов или в</p>
            <p class="pr22">любое удобное время</p>
        </div>
        <div class="pros-line3">
            <p class="pr3">Многоуровневая
                <span class="pr33">система</span>
            </p>
            <p>управление качеством</p>
            <p class="pr4">по стандарту ISO 9001</p>
        </div>
    </div>
</div>
<div class="item-cards">
    <div class="item-cards__pagination">
<button class="item-cards__pagination-button active-button">1</button>
<button class="item-cards__pagination-button">2</button>
<button class="item-cards__pagination-button">3</button>
<button class="item-cards__pagination-button">4</button>
<button class="item-cards__pagination-button">5</button>
    </div>
    <div class="content-container">
        <div class="item-cards__grid">
            <div class="item-cards__grid-left">
                <div class="item-cards__grid-left-text">
                    Строительный отделочный инструмент
                </div>
                <div class="item-cards__grid-left-action">
                    <span style="margin-right: 10px;">Перейти в каталог</span>
                    <a class="item-cards__grid-left-action-link">
                        <img src="assets/arrow.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="item-cards__grid-right">
                <div class="item-cards__grid-right-block1">
                    <div class="item-cards__grid-right-block1-text">
                        Эмали
                    </div>
                    <div class="item-cards__grid-right-block1-action">
                        <span style="margin-right: 10px;">Перейти в каталог</span>
                        <a class="item-cards__grid-right-block1-action-link">
                            <img src="assets/arrow.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="item-cards__grid-right-block2">
                    <div class="item-cards__grid-right-block2-text">
                    Лакокрасочные материалы
                    </div>
                    <div class="item-cards__grid-right-block2-action">
                        <span style="margin-right: 10px;">Перейти в каталог</span>
                        <a class="item-cards__grid-right-block2-action-link">
                            <img src="assets/arrow.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="item-cards__grid-right-block3">
                    <div class="item-cards__grid-right-block3-text">
                        Пены, клеи и герметики
                    </div>
                    <div class="item-cards__grid-right-block3-action">
                        <span style="margin-right: 10px;">Перейти в каталог</span>
                        <a class="item-cards__grid-right-block3-action-link">
                            <img src="assets/arrow.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="item-cards__grid-right-block4">
                    <div class="item-cards__grid-right-block4-text">
                        Розетки и выключатели
                    </div>
                    <div class="item-cards__grid-right-block4-action">
                        <span style="margin-right: 10px">Перейти в каталог</span>
                        <a class="item-cards__grid-right-block4-action-link">
                            <img src="assets/arrow.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>