.header{
    padding: 0 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;   
    color: white;
    background-color: #4B565E
    
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo{
    margin: 20px;
}

.header-nav {
    display: flex;
}

.header-nav-item{
    margin-right: 20px;
}

.header2 {
    padding: 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    color: black;
    background-color: #F0BA4E
}

.header2-left {
    display: flex;
    align-items: center;
}

.header2-logo {
align-items: center;
}

.header2-nav {
    display: flex;
    margin: 20px;
}

.header2-nav-item{
    margin-right: 20px;
}

.text-style {
    background: transparent;
}
.header3 {
    padding: 0 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    color: white;
    background-color: #4B565E
}
.header-right{
    display: flex;
    align-items: center;
}


.header-nav-right{
    display: flex;
    margin: 50px;
}

.header-logo3{
    display:flex;
    align-items: center;
    margin: 20px;
}

.Cart1{
    margin-left: 40px;
    border-color: #F0BA4E;
    display: flex;
    border-radius: 50px;
    background-color: #4B565E;
    align-items: center;
    border-style: solid;
}

.empty {
    color: white;
    display: flex;
    margin: 10px 10px 10px 10px;
}

.phone-number{
    color: white;
    margin: 0px 60px 0px 20px;
    text-decoration: none;
}

.search {
    display: inline-flex;
    border-bottom: 1px solid black;
    background-color: #F0BA4E;
}

.search-field {
    width: 300px;
    border: 0;
    background-color: #F0BA4E;
}

.location {
    padding: 20px;
}
.locmap {
    color: white;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    text-decoration: none;
    padding: 6px;
    align-items: center;

}
.content-container {
    max-width:1320px;
    margin: 0 auto;
}

.item-cards__pagination {
    display: flex;
    justify-content: end;

    &-button {
        font-family: Inter;
        border: none;
        background: none;
        color: #A1A0A0;
    }
}

.active-button {
    color: #F0BA4E;
    font-weight: 600;
}

.item-cards__grid {
    display: flex;
}

.item-cards__grid-left {
    height: 428px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    max-height: 428px;
    max-width: 421px;
    background-image: url(/assets/image19.png);
    background-repeat: no-repeat;
    overflow: hidden;
    background-position-y: bottom;
    background-position-x: left;
    margin-bottom: 500px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
}

.item-cards__grid-left-text {
    font-size: 28px;
    font-family: Inter;
    font-weight: 600;
}

.item-cards__grid-left-action {
align-self: flex-end;
display: flex;
align-items: center;
}

.item-cards__grid-left-action-link {
width: 40px;
height: 40px;
justify-content: space-between;
}

.item-cards__grid-right {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    gap: 28px;
    margin-left: 20px;
}

.item-cards__grid-right-block1 {
background-image: url(/assets/sprayballon_14.svg);
width: 421px;
height: 200px;
box-shadow: 0px 20px 50px 0px #3C3C3B12;
background-repeat: no-repeat;
background-position-x: left;
flex-direction: column;
display: flex;
justify-content: space-between;
padding: 15px;
box-sizing: border-box;
background-position-y: bottom;
}

.item-cards__grid-right-block1-text {
    font-size: 28px;
    font-family: Inter;
    font-weight: 600;
    text-align: end;
}

.item-cards__grid-right-block1-action {
align-items: center;
display: flex;
align-self: flex-end;
}

.item-cards__grid-right-block1-action-link {
width: 40px;
height: 40px;
}

.item-cards__grid-right-block2 {
    background-image: url(/assets/image_17.svg);
    width: 421px;
    height: 200px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    background-repeat: no-repeat;
    background-position-x: right;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    background-position-y: bottom;
}

.item-cards__grid-right-block2-text {
    font-size: 28px;
    font-family: Inter;
    font-weight: 600;
    text-align: end;
    text-align: left;
}

.item-cards__grid-right-block2-action {
align-items: center;
display: flex;
}

.item-cards__grid-right-block2-action-link {
    width: 40px;
    height: 40px;
}

.item-cards__grid-right-block3 {
    background-image: url(/assets/image_18.svg);
    width: 421px;
    height: 200px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    background-repeat: no-repeat;
    background-position-x: right;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    background-position-y: bottom;
}

.item-cards__grid-right-block3-text {
    font-size: 28px;
    font-family: Inter;
    font-weight: 600;
    text-align: end;
    text-align: left;
    line-height: 10px;
}

.item-cards__grid-right-block3-action {
align-items: center;
display: flex;
}

.item-cards__grid-right-block3-action-link {
    width: 40px;
    height: 40px;
}

.item-cards__grid-right-block4 {
    background-image: url(/assets/image_15.svg);
    width: 421px;
    height: 200px;
    box-shadow: 0px 20px 50px 0px #3C3C3B12;
    background-repeat: no-repeat;
    background-position-x: left;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    background-position-y: bottom;
}

.item-cards__grid-right-block4-text {
    font-size: 28px;
    font-family: Inter;
    font-weight: 600;
    text-align: end;
    text-align: left;
    line-height: 10px;
}

.item-cards__grid-right-block4-action {
align-items: center;
display: flex;
align-self: flex-end;
}

.item-cards__grid-right-block4-action-link {
    width: 40px;
    height: 40px;
}

.pros-line {
    display: flex;
    flex-wrap: nowrap;
    max-width: 1320px;
    margin: 0 auto;
    align-items: center;
}

.pros-line1 {
    text-align: start;
    background-position-x: left;
    background-image: url(/assets/pros-line1.svg);
    background-repeat: no-repeat;
    margin-bottom: 80px;
    margin-top: 20px;
    padding: 14px 92px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 3px;
    text-align: left;
    height: 66px;
    gap: 0px;
    opacity: 0px;
}

.pros-line2 {
    text-align: start;
    background-position-x: left;
    background-image: url(/assets/pros-line2.svg);
    background-repeat: no-repeat;
    margin-bottom: 80px;
    margin-top: 20px;
    padding: 14px 92px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 3px;
    text-align: left;
    height: 66px;
    gap: 0px;
    margin-left: -70px;
}

.pros-line3 {
    text-align: start;
    background-position-x: left;
    background-image: url(/assets/pros-line3.svg);
    background-repeat: no-repeat;
    margin-bottom: 80px;
    margin-top:-17px;
    padding: 0px 92px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 3px;
    text-align: left;
    height: 66px;
    gap: 0px;
    opacity: 0px;
}