.userslist {
  width: 200px;
  height: 235px;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;
  box-shadow: 0 0 20px rgb(219, 217, 217);
  border-radius: 12px;
}

.buton {
  border-radius: 50px;
  border: 2px solid orange;
  padding: 10px;
}
