<h1 style="padding-left: 450px; margin: 0px 30px 30px 30px;">CREATE TODO FORM</h1>
  <form class="formgroup"[formGroup]="formTodo" (ngSubmit)="submitForm()">
    <mat-form-field>
      <mat-label>Введите Текст задачи</mat-label>
      <input matInput formControlName="title">
      <mat-error>Текст введен не правильно</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Введите Автор задачи</mat-label>
      <input matInput formControlName="userId">
      <mat-error>Автор введен не правильно</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Задача решена?</mat-label>
      <input matInput formControlName="completed">
      <mat-error>Ответ некорректен</mat-error>
    </mat-form-field>

    <button mat-fab extended class="button" [disabled]="formTodo.invalid">CREATE TODO</button>
  </form>
