<h1 style="padding-left: 450px">CREATE TODO FORM</h1>
<div style="margin: 0px 30px 30px 30px">
  <form [formGroup]="formTodo" (ngSubmit)="submitForm()">
    <P>Текст задачи</P>
    <input type="text" formControlName="title" />
    <div
      *ngIf="
        formTodo.controls['title'].invalid &&
        (formTodo.controls['title'].dirty || formTodo.controls['title'].touched)
      "
    >
      <div *ngIf="formTodo.controls['title'].errors" style="color: red">
        Текст задачи введен не правильно
      </div>
    </div>
    <p>Автор задачи</p>
    <input type="text" formControlName="userId" />
    <div
      *ngIf="
        formTodo.controls['userId'].invalid &&
        (formTodo.controls['userId'].dirty ||
          formTodo.controls['userId'].touched)
      "
    >
      <div *ngIf="formTodo.controls['userId'].errors" style="color: red">
        Автор введен не правильно
      </div>
    </div>
    <p>Задача решена?</p>
    <input type="text" formControlName="completed" />
    <div
      *ngIf="
        formTodo.controls['completed'].invalid &&
        (formTodo.controls['completed'].dirty ||
          formTodo.controls['completed'].touched)
      "
    >
      <div *ngIf="formTodo.controls['completed'].errors" style="color: red">
        Ответ некорректен
      </div>
    </div>
    <button class="button" [disabled]="formTodo.invalid">CREATE TODO</button>
  </form>
</div>
